<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.newseveryday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hjc_c"
        android:label="新闻客户端"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment.AddActivity">

        </activity>
        <activity android:name=".fragment.FragmentMain">

        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Activity_Guide$activity_detail">

        </activity>
        <activity android:name=".Activity_Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".RecyclerActivity">

        </activity>
        <activity android:name=".lianxi">

        </activity>
        <activity android:name=".zidingyi.OneActivity">

        </activity>
        <activity android:name=".fragment.Activity_love">

        </activity>
    </application>

</manifest>